<!DOCTYPE html>
<html>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
  <body>
      <%= javascript_pack_tag 'application' %>
      <% if user_signed_in? %>
        <%= react_component("Sketches", {username: current_user.name}) %>
      <% else %>
        <%= react_component("Home") %>
      <% end %>
    </body>
</html>
