<!DOCTYPE html>
<html>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>
	<body>
	    <%= javascript_pack_tag 'application' %>
		<%= react_component("Home") %>
  	</body>
</html>
