@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
	font-size: 500%;
	color: 000000;
	font-family: 'Pacifico';
}

.sketch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.form-container {
	padding-top:50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slogan {
	position: relative;
	top: -15px;
}

#nav-button {
	padding-right: 10px;
}

.new-sketch-button {
	margin-top: 50px;
}

.field {
	text-align: center;
	padding-bottom: 5px;
}

.field , label {
	font-family: 'Source Sans Pro';
	text-align: left;
}

.button[name='new-sketch-1'] {
	background: #FF5533;
}