@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
	font-size: 500%;
	color: 000000;
	font-family: 'Pacifico';
}

.sketch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}

.navbar-default .navbar-nav>.active> a, 
.navbar-default .navbar-nav>.active> a:hover {
  background: #B0B0B0;
}

ul.nav.navbar-nav .dropdown.open .dropdown-toggle{
  background-color: #B0B0B0;
}

.slogan {
	position: relative;
	top: -15px;
}

#nav-button {
	padding-right: 10px;
}

.navbar-default {
	background-color: #CDCDCD;
}