@import "bootstrap-sprockets";
@import "bootstrap";

.ugly-link {
    color: #000000;
    text-decoration: none;
    font-family: 'Source Sans Pro';
}

.ugly-link:hover 
{
     color: #000000; 
     text-decoration:none; 
     cursor:pointer;  
}

.bold {
	font-size: 150%;
	font-weight: bold;
	margin-top: 10px;
}

#no-sketches {
	margin-top: 100px;
	text-align: center;
	font-size: 500%;
	font-family: 'Pacifico';
}

#all-sketches {
	margin-top: 80px;
	font-size: 300%;
	text-align: center;
	font-family: 'Pacifico';
}

.sketch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.form-container {
	padding-top:50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slogan {
	position: relative;
	top: -15px;
}

#nav-button {
	padding-right: 10px;
}

.new-sketch-button {
	margin-top: 50px;
}

.field {
	text-align: center;
	padding-bottom: 5px;
}

.field , label {
	font-family: 'Source Sans Pro';
	text-align: left;
}

.button[name='new-sketch-1'] {
	background: #FF5533;
}

.sketch-item {
	display: flex;
	flex-direction: row;
	margin: 20px;
}

.sketch-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.sketch-grid {
	padding-top: 0px;
	margin-bottom: 10px;
	margin-right: 75px;
}

.sketch-container {
	display: flex;
	flex-direction: column;
}

.no-drawings-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#sketch-title {
	margin-top: 30px;
	text-align: center;
	font-size: 400%;
	font-family: 'Pacifico';
}

#sketch-description {
	margin-top: 10px;
	font-family: 'Source Sans Pro';
	font-size: 110%;
}